<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty name="application_name" source="spring.application.name"/>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <batchTimeoutMs>10000</batchTimeoutMs>
        <http>
            <url>${LOKI_URL:-http://localhost:3100/loki/api/v1/push}</url>
        </http>
        <format>
            <label>
                <pattern>application=${application_name},level=%level,host=${HOSTNAME},runtimeEnv=${SVC_POD_NAMESPACE},traceID=%X{traceId:-NONE}</pattern>
            </label>
            <message>
                <pattern>{"message": "%msg", "logger": "%logger{20}", "thread": "%thread", "traceID": "%X{traceId:-NONE}"}</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${application_name} %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}) %clr([%thread]){blue} %clr(%-5level) %clr(%logger{36}){magenta} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>log_timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "application": "${application_name}",
                        "traceID": "%X{traceId:-NONE}",
                        "message": "%message",
                        "level": "%level",
                        "thread": "%thread",
                        "logger": "%logger",
                        "class": "%class",
                        "method": "%method",
                        "line": "%line",
                        "hostname": "${HOSTNAME}"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <fieldName>exception</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <maxLength>1024</maxLength>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="${LOGBACK_APPENDER:-CONSOLE}"/>
    </root>
</configuration>
